<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.studywithme">

    <uses-permission
        android:name="android.permission.SET_DEBUG_APP"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyWithMe">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashActivityStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.authentication.AuthActivity" />
        <activity android:name=".ui.join.SessionListActivity" />
        <activity
            android:name=".ui.questionnaire.QuestActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.reflection.ReflectionQuestActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.timer.TimerActivity" />
        <activity android:name=".ui.history.SessionHistoryActivity" />
        <activity android:name=".ui.history.SessionDetailActivity" />
    </application>

</manifest>